{{define "content"}}
<div class="content">
    <h2>Add URL</h2>
    <form action="/addurl">
        <table>
            <tr>
                <td>Url: <input type="text" value="{{.LongUrl}}"></td>
            </tr>
            <tr>
                <td>Shortened: {{if .ShowShort}}<span class="short">{{.ShortUrl}}</span> <a href="#">Copy</a>{{else}}&nbsp;{{end}}</td>
            </tr>
            <tr>
                <td><button>Shorten</button></td>
            </tr>
        </table>
    </form>
</div>
{{end}}
