{{define "content"}}
<div class="content">
    <h2>Add URL</h2>
    <form action="{{.Context}}/addurl" method="post">
        <table>
            <tr>
                <td>Url: <input type="text" name="longUrl" value="{{.LongUrl}}"></td>
            </tr>
            <tr>
                <td>Shortened: {{if .ShowShort}}<span class="short" id="copySpan">{{.ShortUrl}}</span> <a href="#" onclick="copyText()">Copy</a>{{else}}&nbsp;{{end}}</td>
            </tr>
            <tr>
                <td><button type="submit">Shorten</button></td>
            </tr>
        </table>
    </form>
</div>
{{end}}
